.tabs {
    width : 100%;
    height: auto;
}

.tabs .tabs-headers {
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: start;
    gap            : 30px;
    padding        : 10px 0;
}

.tabs .tabs-headers .tab-header {
    cursor     : pointer;
    position   : relative;
    font-weight: 900;
    font-size  : 20px;
}


.tabs .tabs-headers .tab-header::after {
    cursor    : pointer;
    content   : "";
    position  : absolute;
    width     : 0%;
    bottom    : 0;
    left      : 0;
    height    : 2px;
    background: var(--primary-color);
    transition: all 0.7s linear;
}

.tabs .tabs-headers .tab-header:hover::after {
    width: 100%;
}



.tabs .tabs-headers .tab-header.active::after {
    cursor    : pointer;
    content   : "";
    position  : absolute;
    width     : 100%;
    bottom    : 0;
    left      : 0;
    height    : 2px;
    background: var(--primary-color);
}